In [1]:
import pandas as pd
import os
from dtale import show

In [2]:
gamelog_path = 'data/gamelogs_2015-24'
gamelogs_csvs = [file for file in os.listdir(gamelog_path) if file.endswith('.csv')]

salaries_path = 'data/salaries_data'
salaries_csvs = [file for file in os.listdir(salaries_path) if file.endswith('.csv')]

In [3]:
def preprocess_salary_df(salary_df):
    salary_df.columns = salary_df.iloc[0]
    salary_df = salary_df.drop(0).reset_index(drop=True)
    salary_df = salary_df.drop(0).reset_index(drop=True)
    salary_df.columns = [i.lower().split("\n")[0].replace(" / ", "/").replace(" (", "(").replace(" - ", "-").replace(" ", "_") for i in salary_df.columns]
    salary_df = salary_df.drop(['bigdataball', 'nba_season'], axis=1)
    salary_df['game_id'] = salary_df['game_id'].astype(int)
    salary_df['days_rest'] = salary_df['days_rest'].apply(lambda x)
    salary_df = salary_df.rename(columns={'player': 'player_name'})
    return salary_df

In [11]:
df = pd.read_csv(f'{salaries_path}/{salaries_csvs[2]}')
# df['days_rest'].value_counts()
df = preprocess_salary_df(df)
show(df['days_rest'].value_counts())

In [8]:
for f in gamelogs_csvs:
    gamelogs_df = pd.read_csv(f'{gamelog_path}/{f}')
    year = f.split("_")[-1].split(".")[0]
    salary_f = [i for i in salaries_csvs if year in i]
    if not salary_f:
        continue
    salary_f = salary_f[0]
    salary_df = pd.read_csv(f'{salaries_path}/{salary_f}')

    gamelogs_df.columns = gamelogs_df.columns.str.lower()

    salary_df = preprocess_salary_df(salary_df)

    merged_df = pd.merge(gamelogs_df, salary_df, on=['game_id', 'player_name'])

    redundant_columns = ['player_id_y', 'date', 'own', 'minutes']
    merged_df = merged_df.drop(columns=redundant_columns)
    
    # Rename columns to avoid confusion (optional)
    merged_df = merged_df.rename(columns={'player_id_x': 'player_id', 'min': 'minutes_played'})

    merged_df.to_csv(f'data/merged_gamelogs_salaries_{year}.csv')
    print(f'Merged {year}')

Merged 2018-19
Merged 2020-21
Merged 2022-23
Merged 2023-24
Merged 2021-22
Merged 2019-20
Merged 2017-18
Merged 2016-17

In [165]:
merged_df.columns

Index(['season_year', 'player_id', 'player_name', 'team_id',
       'team_abbreviation', 'game_id', 'game_date', 'wl', 'minutes_played',
       'fgm',
       ...
       'days_rest', 'pos-draftkings', 'pos-fanduel', 'pos-yahoo',
       'salary-draftkings', 'salary-fanduel', 'salary-yahoo', 'fp_draftkings',
       'fp_fanduel', 'fp_yahoo'],
      dtype='object', length=111)

In [167]:
merged_df[merged_df['salary-yahoo'].isna()]

,season_year,player_id,player_name,team_id,team_abbreviation,game_id,game_date,wl,minutes_played,fgm,...,days_rest,pos-draftkings,pos-fanduel,pos-yahoo,salary-draftkings,salary-fanduel,salary-yahoo,fp_draftkings,fp_fanduel,fp_yahoo
156,2021-22,1630644,Mac McClung,1610612747,LAL,22101220,2022-04-10T00:00:00,W,21.833333,2,...,101,PG/SG,SG/PG,NaN,3000,3500,NaN,14.75,15.1,15.1
272,2021-22,1630612,RJ Nembhard Jr.,1610612739,CLE,22101218,2022-04-10T00:00:00,W,3.166667,0,...,10,PG,NaN,NaN,3000,NaN,NaN,0.75,0.2,0.2
536,2021-22,1629730,Rayjon Tucker,1610612749,MIL,22101203,2022-04-08T00:00:00,W,2.400000,0,...,92,NaN,NaN,NaN,NaN,NaN,NaN,5,6,6
737,2021-22,1628982,Melvin Frazier Jr.,1610612760,OKC,22101194,2022-04-06T00:00:00,L,32.600000,4,...,3+,SG,NaN,NaN,3000,NaN,NaN,15.75,16,16
933,2021-22,1630285,Zavier Simpson,1610612760,OKC,22101185,2022-04-05T00:00:00,W,43.566667,5,...,3+,PG/SG,NaN,NaN,3000,NaN,NaN,26.25,28.1,28.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25253,2021-22,1628386,Jarrett Allen,1610612739,CLE,22100027,2021-10-23T00:00:00,W,32.693333,5,...,0,NaN,C/PF,NaN,NaN,7800,NaN,32.5,30.8,30.8
25264,2021-22,1630596,Evan Mobley,1610612739,CLE,22100027,2021-10-23T00:00:00,W,35.150000,7,...,0,NaN,C/PF,NaN,NaN,6400,NaN,45.25,48.7,48.7
25265,2021-22,1628374,Lauri Markkanen,1610612739,CLE,22100027,2021-10-23T00:00:00,W,31.706667,3,...,0,NaN,PF/SF,NaN,NaN,5400,NaN,31.5,33.6,33.6
25267,2021-22,201937,Ricky Rubio,1610612739,CLE,22100027,2021-10-23T00:00:00,W,35.083333,9,...,0,NaN,PG/SG,NaN,NaN,5600,NaN,44.5,42.2,42.2
25274,2021-22,1629629,Cam Reddish,1610612737,ATL,22100027,2021-10-23T00:00:00,L,27.633333,7,...,1,NaN,SG/SF,NaN,NaN,4700,NaN,28,26.2,26.2

In [115]:
merged_df = pd.merge(gamelogs_df, salary_df, on=['game_id', 'player_name'])

,season_year,player_id,player_name,team_id,team_abbreviation,game_id,game_date,wl,min,fgm,...,pct_dreb,pct_reb,pct_ast,pct_tov,pct_stl,pct_blk,pct_blka,pct_pf,pct_pfd,pct_pts
0,2021-22,203992,Bogdan Bogdanovic,1610612737,ATL,22101221,2022-04-10T00:00:00,W,27.993333,5,...,0.250,0.207,0.368,0.000,0.667,0.000,0.000,0.100,0.214,0.179
17,2021-22,1629645,Kevin Porter Jr.,1610612745,HOU,22101221,2022-04-10T00:00:00,L,40.683333,10,...,0.273,0.286,0.273,0.333,0.000,0.000,0.500,0.071,0.067,0.263
25,2021-22,1629027,Trae Young,1610612737,ATL,22101221,2022-04-10T00:00:00,W,34.233333,10,...,0.154,0.147,0.524,0.455,0.000,0.000,0.500,0.267,0.300,0.283
47,2021-22,1630224,Jalen Green,1610612745,HOU,22101221,2022-04-10T00:00:00,L,39.533333,14,...,0.045,0.038,0.143,0.000,0.333,0.000,0.500,0.067,0.529,0.394
59,2021-22,1628989,Kevin Huerter,1610612737,ATL,22101221,2022-04-10T00:00:00,W,30.483333,4,...,0.208,0.152,0.238,0.200,0.000,0.000,0.333,0.231,0.000,0.129
75,2021-22,1630256,Jae'Sean Tate,1610612745,HOU,22101221,2022-04-10T00:00:00,L,30.083333,2,...,0.000,0.105,0.118,0.250,0.000,0.333,0.500,0.333,0.077,0.063
86,2021-22,1628021,David Nwaba,1610612745,HOU,22101221,2022-04-10T00:00:00,L,12.766667,1,...,0.100,0.167,0.250,0.000,0.500,1.000,0.000,0.000,0.000,0.095
89,2021-22,1626153,Delon Wright,1610612737,ATL,22101221,2022-04-10T00:00:00,W,22.050000,0,...,0.067,0.100,0.250,0.000,0.333,0.000,0.000,0.000,0.071,0.034
97,2021-22,1627789,Timothe Luwawu-Cabarrot,1610612737,ATL,22101221,2022-04-10T00:00:00,W,7.483333,0,...,0.143,0.200,0.000,0.500,0.000,0.000,0.000,0.000,0.000,0.000
166,2021-22,1630578,Alperen Sengun,1610612745,HOU,22101221,2022-04-10T00:00:00,L,34.566667,4,...,0.294,0.273,0.444,0.143,0.000,0.333,0.000,0.364,0.214,0.108
170,2021-22,1630219,Skylar Mays,1610612737,ATL,22101221,2022-04-10T00:00:00,W,1.950000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
173,2021-22,1629631,De'Andre Hunter,1610612737,ATL,22101221,2022-04-10T00:00:00,W,32.566667,7,...,0.077,0.059,0.000,0.222,0.000,0.000,0.333,0.071,0.375,0.227
176,2021-22,201568,Danilo Gallinari,1610612737,ATL,22101221,2022-04-10T00:00:00,W,31.540000,9,...,0.150,0.129,0.118,0.286,0.000,0.500,0.000,0.167,0.214,0.313
208,2021-22,1629726,Garrison Mathews,1610612745,HOU,22101221,2022-04-10T00:00:00,L,31.666667,4,...,0.375,0.300,0.000,0.000,0.500,0.333,0.000,0.200,0.143,0.167
235,2021-22,1630528,Josh Christopher,1610612745,HOU,22101221,2022-04-10T00:00:00,L,19.350000,2,...,0.071,0.063,0.429,0.167,0.500,0.000,0.000,0.364,0.333,0.176
244,2021-22,1628995,Kevin Knox II,1610612737,ATL,22101221,2022-04-10T00:00:00,W,1.950000,0,...,0.500,0.667,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
249,2021-22,1630552,Jalen Johnson,1610612737,ATL,22101221,2022-04-10T00:00:00,W,1.950000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
252,2021-22,1630536,Sharife Cooper,1610612737,ATL,22101221,2022-04-10T00:00:00,W,1.750000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
263,2021-22,1630231,KJ Martin,1610612745,HOU,22101221,2022-04-10T00:00:00,L,17.916667,4,...,0.077,0.067,0.000,0.000,0.000,0.000,0.000,0.200,0.167,0.324
286,2021-22,203991,Clint Capela,1610612737,ATL,22101221,2022-04-10T00:00:00,W,23.333333,7,...,0.316,0.481,0.000,0.000,1.000,1.000,0.000,0.222,0.400,0.250
305,2021-22,1630168,Onyeka Okongwu,1610612737,ATL,22101221,2022-04-10T00:00:00,W,22.716667,3,...,0.500,0.450,0.077,0.143,0.000,0.500,0.000,0.556,0.231,0.140
307,2021-22,1630586,Usman Garuba,1610612745,HOU,22101221,2022-04-10T00:00:00,L,13.433333,0,...,0.636,0.583,0.167,0.000,0.000,0.000,0.000,0.250,0.000,0.000