In [1]:
import pandas as pd
import os
from dtale import show

In [2]:
gamelog_path = 'data/gamelogs_2015-24'
gamelogs_csvs = [file for file in os.listdir(gamelog_path) if file.endswith('.csv')]

salaries_path = 'data/salaries_data'
salaries_csvs = [file for file in os.listdir(salaries_path) if file.endswith('.csv')]

In [3]:
def preprocess_salary_df(salary_df):
    salary_df.columns = salary_df.iloc[0]
    salary_df = salary_df.drop(0).reset_index(drop=True)
    salary_df = salary_df.drop(0).reset_index(drop=True)
    salary_df.columns = [i.lower().split("\n")[0].replace(" / ", "/").replace(" (", "(").replace(" - ", "-").replace(" ", "_") for i in salary_df.columns]
    salary_df = salary_df.drop(['bigdataball', 'nba_season'], axis=1)
    salary_df['game_id'] = salary_df['game_id'].astype(int)
    salary_df['days_rest'] = salary_df['days_rest'].apply(lambda x: int(str(x.split('+')[0])))
    salary_df = salary_df.rename(columns={'player': 'player_name'})
    return salary_df

In [4]:
# df = pd.read_csv(f'{salaries_path}/{salaries_csvs[2]}')
# df['days_rest'].value_counts()
# df = preprocess_salary_df(df)
# show(df['days_rest'].value_counts())

In [5]:
for f in gamelogs_csvs:
    gamelogs_df = pd.read_csv(f'{gamelog_path}/{f}')
    year = f.split("_")[-1].split(".")[0]
    salary_f = [i for i in salaries_csvs if year in i]
    if not salary_f:
        continue
    salary_f = salary_f[0]
    salary_df = pd.read_csv(f'{salaries_path}/{salary_f}')

    gamelogs_df.columns = gamelogs_df.columns.str.lower()

    salary_df = preprocess_salary_df(salary_df)

    merged_df = pd.merge(gamelogs_df, salary_df, on=['game_id', 'player_name'])

    redundant_columns = ['player_id_y', 'date', 'own', 'minutes']
    merged_df = merged_df.drop(columns=redundant_columns)
    
    # Rename columns to avoid confusion (optional)
    merged_df = merged_df.rename(columns={'player_id_x': 'player_id', 'min': 'minutes_played'})

    merged_df.to_csv(f'data/merged_gamelogs_salaries_{year}.csv')
    print(f'Merged {year}')

Merged 2018-19
Merged 2020-21
Merged 2022-23
Merged 2023-24
Merged 2021-22
Merged 2019-20
Merged 2017-18
Merged 2016-17

# Merge all seasons + Handle missing values

In [6]:
all_csvs = [file for file in os.listdir('data/') if file.endswith('.csv') and 'merged_gamelogs_salaries_' in file]
dfs = [pd.read_csv(f'data/{csv}') for csv in all_csvs]
df = pd.concat(dfs)

/var/folders/0m/f3264ld16q96qjbq5qmzznvm0000gn/T/ipykernel_84813/4059212232.py:2: DtypeWarning:

Columns (101) have mixed types. Specify dtype option on import or set low_memory=False.

In [7]:
df.shape

(199339, 113)

In [8]:
df = df.drop('Unnamed: 0', axis= 1)

In [9]:
df.head()

,season_year,player_id,player_name,team_id,team_abbreviation,game_id,game_date,wl,minutes_played,fgm,...,pos-draftkings,pos-fanduel,pos-yahoo,salary-draftkings,salary-fanduel,salary-yahoo,fp_draftkings,fp_fanduel,fp_yahoo,venue(r/h/n)
0,2022-23,1631100,AJ Griffin,1610612737,ATL,22201216,2023-04-09T00:00:00,L,29.333333,5,...,SG/SF,SF,SF,3400.0,4200.0,10.0,24.25,25.6,25.6,NaN
1,2022-23,1631121,Bryce McGowens,1610612766,CHA,22201218,2023-04-09T00:00:00,W,32.533333,6,...,SG/SF,SG,SF,6300.0,5200.0,10.0,35.50,34.8,34.8,NaN
2,2022-23,1630526,Jeremiah Robinson-Earl,1610612760,OKC,22201226,2023-04-09T00:00:00,W,39.766667,3,...,PF/C,C/PF,C,3000.0,3900.0,10.0,25.50,24.1,24.1,NaN
3,2022-23,1630173,Precious Achiuwa,1610612761,TOR,22201221,2023-04-09T00:00:00,W,28.416667,6,...,C,PF/C,C,4700.0,5500.0,10.0,37.25,35.1,35.1,NaN
4,2022-23,201609,Goran Dragic,1610612749,MIL,22201221,2023-04-09T00:00:00,L,20.783333,7,...,PG,PG,PG,4700.0,5100.0,10.0,18.75,18.1,18.1,NaN

In [10]:
df.season_year.value_counts()

season_year
2023-24    26334
2021-22    25861
2022-23    25630
2018-19    25612
2017-18    25603
2016-17    25251
2020-21    22827
2019-20    22221
Name: count, dtype: int64

# Find NA

In [11]:
df.isna().sum().sort_values(ascending=False).head(20)

venue(r/h/n)         173005
venue(r/h)            26334
pos-draftkings         4684
salary-draftkings      4684
pos-yahoo              1497
salary-yahoo           1497
pos-fanduel            1065
salary-fanduel         1065
available_flag           20
fp_draftkings             1
fp_yahoo                  1
pct_pts_fb                0
pct_uast_fgm              0
pct_ast_fgm               0
pct_uast_3pm              0
pct_ast_3pm               0
pct_uast_2pm              0
pct_ast_2pm               0
pct_pts_paint             0
pct_pts_off_tov           0
dtype: int64

In [12]:
missing_values_by_season = df.groupby('season_year').apply(lambda x: x.isna().sum())
missing_values_by_season = missing_values_by_season[['venue(r/h/n)', 'venue(r/h)', 'pos-draftkings', 'salary-draftkings', 'pos-yahoo', 'salary-yahoo', 'pos-fanduel', 'salary-fanduel', 'available_flag', 'fp_draftkings', 'fp_yahoo']]
missing_values_by_season

,venue(r/h/n),venue(r/h),pos-draftkings,salary-draftkings,pos-yahoo,salary-yahoo,pos-fanduel,salary-fanduel,available_flag,fp_draftkings,fp_yahoo
season_year,,,,,,,,,,,
2016-17,25251,0,98,98,71,71,107,107,0,0,0
2017-18,25603,0,519,519,48,48,233,233,20,1,1
2018-19,25612,0,717,717,47,47,121,121,0,0,0
2019-20,22221,0,830,830,171,171,131,131,0,0,0
2020-21,22827,0,519,519,169,169,158,158,0,0,0
2021-22,25861,0,797,797,592,592,174,174,0,0,0
2022-23,25630,0,626,626,279,279,96,96,0,0,0
2023-24,0,26334,578,578,120,120,45,45,0,0,0

In [13]:
df['venue(r/h)'] = df['venue(r/h)'].fillna(df['venue(r/h/n)'])
df.drop(columns=['venue(r/h/n)'], inplace=True)

In [14]:
df = df.dropna(subset=['available_flag'])

In [15]:
df.isna().sum().sort_values(ascending=False).head(20)

pos-draftkings       4684
salary-draftkings    4684
pos-yahoo            1497
salary-yahoo         1497
pos-fanduel          1065
salary-fanduel       1065
fp_yahoo                1
fp_draftkings           1
pct_uast_fgm            0
pct_pts_3pt             0
pct_ast_fgm             0
pct_uast_3pm            0
pct_ast_3pm             0
pct_uast_2pm            0
pct_ast_2pm             0
pct_pts_paint           0
pct_pts_off_tov         0
pct_pts_ft              0
pct_pts_fb              0
pct_fga_2pt             0
dtype: int64

# Basic Preprocessing

In [16]:
def preprocess_basic(df):
    df['starter'] = df['starter(y/n)'].apply(lambda x: 1 if x == 'Y' else 0)
    df['venue'] = df['venue(r/h)'].apply(lambda x: 1 if x == 'H' else 0)
    df['is_playoff'] = df['regular/playoffs'].apply(lambda x: 0 if x == 'Regular' else 0)
    df['is_wl'] = df['wl'].apply(lambda x: 0 if x == 'W' else 0)
    df['days_rest_int'] = df['days_rest'].astype(int)
    cols_to_drop = ['player_id', 'team_id', 'days_rest', 'starter(y/n)', 'venue(r/h)', 'regular/playoffs', 'wl']
    df = df.drop(cols_to_drop, axis=1)
    df['minutes_played'] = df['minutes_played'].fillna(0)  # Fill missing values with 0 minutes
    return df

In [17]:
df = preprocess_basic(df)

In [18]:
df.isna().sum().sort_values(ascending=False).head(20)

salary-draftkings    4684
pos-draftkings       4684
salary-yahoo         1497
pos-yahoo            1497
pos-fanduel          1065
salary-fanduel       1065
fp_yahoo                1
fp_draftkings           1
pct_pts_paint           0
pct_ast_2pm             0
pct_uast_2pm            0
season_year             0
pct_pts_ft              0
pct_ast_3pm             0
pct_uast_3pm            0
pct_ast_fgm             0
pct_uast_fgm            0
pct_fgm                 0
pct_pts_off_tov         0
pct_fga_3pt             0
dtype: int64

In [19]:
df.to_csv('data/gamelogs_salaries_all_seasons_merged.csv')

In [20]:
df.isna().sum().sort_values(ascending=False).head(20)

salary-draftkings    4684
pos-draftkings       4684
salary-yahoo         1497
pos-yahoo            1497
pos-fanduel          1065
salary-fanduel       1065
fp_yahoo                1
fp_draftkings           1
pct_pts_paint           0
pct_ast_2pm             0
pct_uast_2pm            0
season_year             0
pct_pts_ft              0
pct_ast_3pm             0
pct_uast_3pm            0
pct_ast_fgm             0
pct_uast_fgm            0
pct_fgm                 0
pct_pts_off_tov         0
pct_fga_3pt             0
dtype: int64

In [21]:
for season in df['season_year'].unique():
    season_df = df[df['season_year'] == season]
    season_df.to_csv(f'data/gamelogs_salaries_{season}_merged.csv')
    print(f"{season}")

2022-23
2018-19
2020-21
2019-20
2017-18
2023-24
2021-22
2016-17

In [27]:
season_df.isna().sum().sort_values(ascending=False)

pos-fanduel          107
salary-fanduel       107
pos-draftkings        98
salary-draftkings     98
salary-yahoo          71
                    ...
off_rating             0
e_off_rating           0
available_flag         0
wnba_fantasy_pts       0
days_rest_int          0
Length: 109, dtype: int64